fastapi
uvicorn
python-jose[cryptography]
python-multipart
passlib[bcrypt]
sqlparse
sqlalchemy
python-dotenv
pymysql
mysql-connector-python
psycopg2-binary
pyodbc
oracledb
langgraph
langchain
langchain-core
langchain-openai
pydantic
typing-extensions
chromadb
openai